* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.main-container {
  position: relative;
  display: inline-block;
}

.hud-container {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.timer {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player1-hp-main {
  display: flex;
  justify-content: flex-end;
}

.player2-hp-main,
.player1-hp-main {
  position: relative;
  height: 30px;
  width: 100%;
}

.player1-hp-container {
  position: absolute;
  background-color: #35ff69;
  height: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player2-hp-container {
  position: absolute;
  background-color: #35ff69;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.player2-hp,
.player1-hp {
  background-color: red;
  height: 30px;
  width: 100%;
}

.player1-hp {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player2-hp {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.endgame-message {
  position: absolute;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
